.gitignore
.gradle
/local.properties
.DS_Store
/build
/captures
/.idea
/*.iml
*~
.weblate
*.class
/app/*.iml
/app/build
/app/release
# vscode / eclipse files
*.classpath
*.project
*.settings
bin/
.vscode/
*.code-workspace
